.main-container {
  padding: 20px 0;
  .container {
    .row.home {
      flex-direction: column;
      grid-gap: 10px;
      .col-8.articalBar {
        width: 100%;
        .articalSide {
          .row.singleArtical {
            background-color: var(--main_bg);
            box-shadow: var(--shadow_color);
            padding: 15px 10px;
            border-radius: 5px;
            flex-direction: column;
            grid-gap: 10px;
            margin-bottom: 10px;
            .col-4 {
              width: 100%;
              .blogImage {
                height: 150px;
                width: 100%;
                position: relative;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
                span {
                  padding: 8px 10px;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  background-color: rgb(39, 40, 112);
                  font-size: 13px;
                  color: white;
                }
              }
            }
            .col-8 {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              grid-gap: 10px;
              a {
                .blogTitle {
                  font-size: 18px;
                  font-weight: 600;
                  color: var(--text_colour);
                }
              }
              .auth-time {
                display: flex;
                align-items: center;
                grid-gap: 12px;
                .auth {
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: 700;
                  color: black;
                }
                .time {
                  text-transform: uppercase;
                  font-size: 10px;
                  font-weight: 700;
                  color: gray;
                }
              }
              .des {
                font-size: 15px;
              }
              a {
                .readMore {
                  background-color: #ff5722;
                  border-radius: 2px;
                  width: fit-content;
                  color: white;
                }
              }
            }
          }
        }
      }
      .col-4.sidebar {
        width: 100%;
        .search-category-tag {
          display: flex;
          flex-direction: column;
          grid-gap: 10px;
          .search {
            border-radius: 5px;
            background-color: var(--main_bg);
            padding: 10px 15px;
            text-align: center;
            box-shadow: var(--shadow_color);
            .searchTitle {
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            .form-group {
              .search-btn {
                margin-top: 10px;
                border-radius: 5px;
                background-color: #4ad840;
                &:hover {
                  background-color: #2ed223;
                }
              }
            }
          }
          .popular-artical {
            background-color: var(--main_bg);
            box-shadow: var(--shadow_color);
            .headerTitle {
              text-align: center;
              padding: 10px 0;
              font-size: 30px;
              text-transform: uppercase;
              background-color: #ffeb3b;
            }
            .PopularArticalDiv {
              padding: 10px;
              .row.PopularsingleArtical {
                margin-top: 15px;
                .col-4 {
                  a.paImg {
                    height: 70px;
                    img {
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .col-8 {
                  padding: 0 10px;
                  .paTitle {
                    font-size: 15px;
                    font-weight: 700;
                    color: var(--text_colour);
                  }
                  .paTime {
                    margin-top: 10px;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: var(--text_colour);
                  }
                }
              }
            }
          }
          .category {
            background-color: var(--main_bg);
            box-shadow: var(--shadow_color);
            .ctgTitle {
              text-align: center;
              padding: 10px 0;
              font-size: 30px;
              text-transform: uppercase;
              background-color: #e2f52d;
            }
            ul.ctg-list {
              padding: 10px;
              .ctg-item {
                display: flex;
                justify-content: space-between;
                padding: 8px 0;
                cursor: pointer;
                li {
                  display: flex;
                  align-items: center;
                  a {
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--text_colour);
                  }
                }
              }
            }
          }
          .tag {
            background-color: var(--main_bg);
            box-shadow: var(--shadow_color);
            .tagTitle {
              text-align: center;
              padding: 10px 0;
              font-size: 30px;
              text-transform: uppercase;
              background-color: #03a9f4;
            }
            .tag-list {
              display: flex;
              flex-wrap: wrap;
              padding: 10px;
              grid-gap: 10px;
              .tag-item {
                padding: 5px 8px;
                background-color: #4caf50;
                border-radius: 2px;
                font-weight: 500;
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      // tab view
      @media only screen and (min-width: 501px) {
        .col-8.articalBar {
          .articalSide {
            .row.singleArtical {
              flex-direction: row;
              .col-4 {
                width: auto;
              }
              .col-8 {
                grid-gap: 5px;
                .des {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      // pc view
      @media only screen and (min-width: 991px) {
        flex-direction: row;
        .col-8.articalBar {
          .articalSide {
            .row.singleArtical {
              grid-gap: 20px;
              flex-direction: row;
              .col-4 {
                width: auto;
              }
              .col-8 {
                grid-gap: 5px;
                .des {
                  font-size: 15px;
                }
              }
            }
          }
        }
        .col-4.sidebar {
          width: auto;
        }
      }
    }
  }
}
