.form-group {
  padding: 5px;
  input {
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}
