.form-item {
  display: flex;
  align-items: center;

  input {
    padding: 8px 2px;
    width: 100%;
    border: 2px solid #dee2e6;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 15px;
      font-weight: 300;
      color: var(--text_colour);
    }
  }
  .item-logo {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727cf5;
    color: white;
    font-size: 15px;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s;
  padding: 6px 10px;
  border: none;
  cursor: pointer;

  // tab
  @media only screen and (min-width: 501px) {
    padding: 8px 12px;
  }

  // pc
  @media only screen and (min-width: 991px) {
    padding: 10px 15px;
  }
}
