.form-group {
  padding: 5px;
  input {
    padding: 5px;
    width: 100%;
    border: 2px solid #dee2e6;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 15px;
      font-weight: 300;
      color: var(--text_colour);
    }
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s;
  padding: 10px 15px;
  border: none;
}
